<div class="ui-plaid-link__button">
  {{#if loadScriptTask.isRunning}}
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
  {{else}}
    <button class="ui primary button" {{action "clicked"}}>
      Sup girl
    </button>
  {{/if}}
</div>
