<div class="ui-plaid-link__button ui segment">
  <h3 class="ui header">Create a new stripe account</h3>
  <div class="ui {{if loadScriptTask.isRunning 'active'}} inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
  <button class="ui primary button" {{action "clicked"}}>
    Sup girl
  </button>
</div>
