<div class="ui segment">
  <div class="ui inverted dimmer {{if saveTask.isRunning 'active'}}">
    <div class="ui text loader">Loading</div>
  </div>
  {{properties/property-form
      changeset=(changeset model PropertyValidation)
      onSubmit=(perform updateTask)
      onCancel=(action "cancel")}}
</div>

