<div class="ui segment">
  <div class="ui inverted dimmer {{if saveTask.isRunning 'active'}}">
    <div class="ui text loader">Loading</div>
  </div>
  {{properties/new-form
      changeset=(changeset model PropertyValidation)
      on-save=(perform saveTask)
  }}
</div>

