<h2 id="title">Welcome to LordCore</h2>
{{#if session.isAuthenticated}}
  <h3>Logged in</h3>
  <br />
  <button {{action 'invalidateSession'}}>Logout</button>
{{else}}
  {{link-to 'Login' 'login'}}
{{/if}}
{{outlet}}
