{{#if modelTask.isRunning}}
  <div class="alert alert-info">
    LOADING
  </div>
{{else}}
  <div class="ui container">
    <h1>
      Welcome to: {{model.name}}
    </h1>
    <h2>
      You Are: {{user.email}}
    </h2>
  </div>
{{/if}}
